.dash-header {
  height: 50px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 32px;
  position: fixed;
  top: 0;
  left: 235px;
  right: 0;
  z-index: 99;
}

.dash-header h1 {
  color: #101828;
  font-size: 0.92rem;
  font-weight: 800;
  line-height: 1;
  margin: 0;
}

.dash-header-date {
  font-size: 14px;
  color: #4A5565;
  font-weight: 400;
}
