.inventra-logo-component {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inventra-logo-img {
  width: 38px;
  height: 38px;
  object-fit: contain;
}

.inventra-logo-component span {
  font-size: 24px;
  font-weight: 600;
}

.inventra-logo-component.white span {
  color: #ffffff;
}

.inventra-logo-component.dark span {
  color: #0F172A;
}